@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --a: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(58, 57, 57);
    border-radius: 50px;
    width: 5px;
}

::-webkit-scrollbar {
    border-radius: 50px;
    background-color: rgb(167, 162, 162);
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2px 50px;
    background-color: #f4f4f4;
    align-items: center;
}

.li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li ul {
    margin: 0px 10px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    padding-right: 6px;
    border-right: 2px solid;
}

.li ul:hover {
    color: gray;
}

.li :last-child {
    border: none;
}

.shoes {
    margin-top: 30px;
    position: sticky;
    top: 30px;
}

.search {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.inp-search {
    display: flex;
    gap: 10px;
}

.search span {
    font-weight: 700;
}

.inp {
    border: 2px solid;
    border-radius: 8px;
    outline: none;
    padding: 3px 15px;
    font-size: 16px;
}

.search span {
    font-size: 36px;
}

.relative {
    position: relative;
}

.material-symbols-outlined {
    cursor: pointer;
}

.ab {
    position: absolute;
    top: -13px;
    right: -1px;
    font-weight: 600;
}

.products {
    width: 90%;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    cursor: pointer;
}

.sho img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img {
    position: relative;
    height: 40vh;

}

.sho :nth-child(2) {
    font-size: 17px;
    font-weight: 600;
}

.sho :nth-child(3) {
    color: gray;
    font-weight: 500;

}

.sho :nth-child(4) {
    color: gray;

}

.cart {
    position: fixed;
    top: 11vw;
    left: 11vw;
    background: #f7f4f0;
    width: 80vw;
    border-radius: 50px;
    max-height: 60vh;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0px;
}

.image {
    width: 105px;
    height: 81px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icons {
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cart>span {
    position: absolute;
    top: 3px;
    right: 46px;
    font-size: 30px;
    font-weight: bold;
    margin: 7px 5px;
    padding: 15px;
    width: fit-content;
}

.plus,
.min {
    cursor: pointer;
}

.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.alert {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 20%;
  overflow: hidden;

}


.success {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EDFBD8;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: absolute;
    top: 20%;
    right: -200%;
    transition: all 0.2s;
}

.success__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.success__icon path {
    fill: #84D65A;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: #2B641E;
}

.success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: #2B641E;
}
.animate {
    right: 37%;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

.img1 {
    height: 70vh;
}

.image-not {
    height: 100%;
    width: 100%;
    object-fit: contain;
}




.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    margin: 14px 0px;
  }
  
  .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }
    
    @keyframes animate {
        0% {
            left: -100px;
          }
        
          60% {
            left: 100%;
          }
        
          to {
            left: 100%;
          }
  }
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
      transform: translate(4px);
    }

    .button::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    animation: animate 2s infinite 2s ease-in-out ;

    }
  









@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

@media screen and (max-width:1100px) {
    .cart {
        top: 30%;
    }   
    .animate{
        right: 26%;
    }

}

@media screen and (max-width:500px) {
    .success {
        width: 240px;
    }

    .success__title {
        font-size: 11px;
    }

    .item {
        justify-content: center;
        gap: 25px;
    }

   


    .inp {
        width: 70%;
    }

    nav {
        padding: 3px 0;
    }

    .cart {
        left: 2vw;
        width: 95vw;
        border-radius: 14px;
    }
}